@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* width: 100%; */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
    height: auto;
    border-radius: 4px;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
}

span,
p{
    font-weight: lighter;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: -12px;
}

.card {
    display: flex;
    width: min(90%, 1024px);
    /* background-color: #E0325C; */
    background-image: linear-gradient(to right,#F3595F,#E62A5C);
    height: min(90%, 300px);
    border-radius: 8px;
    box-shadow:
        0px 3.7px 2px -15px rgba(0, 0, 0, 0.02),
        0px 8.9px 4.8px -15px rgba(0, 0, 0, 0.028),
        0px 16.8px 9px -15px rgba(0, 0, 0, 0.035),
        0px 29.9px 16.1px -15px rgba(0, 0, 0, 0.042),
        0px 56px 30.1px -15px rgba(0, 0, 0, 0.05),
        0px 134px 72px -15px rgba(0, 0, 0, 0.07);
}

.card-1 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


.card-1 p {
    width: min(90%, 600px);
    height: auto;
    margin: 0 auto 25px auto;
}

.card-1 button {
    border: none;
    background-color: #FEFFFE;
    color: #6A6D86;
    margin: 0 auto;
    width: min(90%, 270px);
}

.card-2 {
    flex-wrap: wrap;
}

.card-2 .btn-wrapper {
    flex: 1;
}

.card-2 p {
    width: min(90%, 520px);
    height: auto;
}

.card-2 .wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 130px;
}

.card-2 button {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-top: 95px;
    width: min(90%, 250px);
}

@media(max-width: 912px) {
    .card-2 {
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 30px;
        flex-wrap: nowrap;
    }

    .card-2 .wrapper {
        padding-left: 40px;
    }

    .card-2 .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .card-2 button {
        margin-top: 0;
    }

}

@media(max-width: 432px) {

    h2 {
        font-size: 1.3rem;
    }

    
    .card {
        height: auto;
        padding: 30px 0;
        margin: 30px 0;
    }
    
    .card-1 {
        padding: 30px;
        text-align: left;
    }

    .card-1 p {
        margin: 0;
    }

    .card-1 button,
    .card-2 button{
        font-size: 0.8rem;
        width: min(90%, 250px);
    } 
    
    .card-2 .wrapper {
        margin-bottom: 20px;
        padding: 0 30px;
    }
}